.Card{
   
    width: 100% !important;
    height: 15%;
    display: flex;
    flex-direction: column;
    grid-row: auto;
    

}
.Card >img{

    width: 100%;
    height: 10rem;
}
.text-body-secondary
{
    cursor: pointer;
}

.Card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Card-text{
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    height: 50%;
}