.Card{
   
    width: 100% !important;
    height: 15%;
    display: flex;
    flex-direction: row;
    grid-row: auto;
    

}
.Card >img{

    width: 10rem;
    height: 10rem;
}
.text-body-secondary
{
    cursor: pointer;
}

.Card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
