.Card{
   
    width: 15%!important;
    height: 15%;
    display: flex;
    flex-direction: column;
    grid-row: auto;
    gap: 1rem;
    

}
.Card >img{

    width:100%;
    height: 109%;
}
.text-body-secondary
{
    cursor: pointer;
}

.Card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Card-text
{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
}
