.SyntaxContainer

{   
  max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
   
}

.Syntax  {
  
    display: flex;
    gap:1rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;  
    gap: 1rem;
    margin-top: 2rem;
    flex-wrap: wrap; 
    border-radius: 4rem;
  }
.CardSyntaxs{
  width: 11rem;
  height: 1rem;
  padding: 1rem;
  background-color: black;
  color: white;
  text-align: center;  
  background: #191c29;

 
}
.CardSyntax {
  background: #191c29;
  width: 15rem;
  height: 18rem;
  border-radius: 4rem;
  position: relative;
 
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
 
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}
 @property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}


 .CardSyntax:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
} 
.CardSyntax:hover:before,
.CardSyntax:hover:after {
  animation: none;
  opacity: 0;
}

.CardSyntax::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.CardSyntax::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
} 

  /* 2xl */
@media (max-width: 1536px) {
     .SyntaxContainer {
      max-width: 1280px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
     .SyntaxContainer {
      max-width: 1024px;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
     .SyntaxContainer {
      max-width: 768px;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .SyntaxContainer {
      max-width: 640px;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
     .SyntaxContainer  {
      max-width: 475px;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .SyntaxContainer  {
      width: 100%;
    }
  
    @media (max-width: 300px) {
       .SyntaxContainer {
        width: 100%;
      }
  
      @media (max-width: 100px) {
     .SyntaxContainer {
          width: 100%;
        }
    }}}
  