.SyntaxContainer

{   
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
    
}

.Syntax  {
  
    display: flex;
    gap:1rem;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: start;  
    gap: 1rem;
    margin-top: 2rem;
    flex-wrap: wrap; 

  }
.CardSyntax{
  width: 10rem;
  height: 15rem;
  padding: 1rem;
}

  /* 2xl */
@media (max-width: 1536px) {
     .SyntaxContainer {
      max-width: 1280px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
     .SyntaxContainer {
      max-width: 1024px;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
     .SyntaxContainer {
      max-width: 768px;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .SyntaxContainer {
      max-width: 640px;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
     .SyntaxContainer  {
      max-width: 475px;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .SyntaxContainer  {
      width: 100%;
    }
  
    @media (max-width: 300px) {
       .SyntaxContainer {
        width: 100%;
      }
  
      @media (max-width: 100px) {
     .SyntaxContainer {
          width: 100%;
        }
    }}}
  