.css-1wnsr1i{
    width: 70% !important;
    overflow:scroll!important;
    height:70%!important;
    display:block!important;
    z-index: 1;
    padding: 0%;
}
.btnClose {
    display: flex;
    justify-content: center;
}
.concept{
    display: flex;
    justify-content: center;
    font-weight: bold;
}
  
  /* xs */
  @media (max-width: 1070px) {
    .css-1wnsr1i  {
        width: 97% !important;
        height:70%!important;
    }
}

.ModalOpenBtn
{
    /* background: blue !important;
    color: wheat !important; */
}

.ModalOpenBtn:hover{
   
            transform: translateY(-5px);
  }