
 .row
{
    display: flex;  
    align-items: start;
    justify-content: start;
}

.file
{
    font-size: x-small !important;
    color: white !important;
}
.File-Span
{
    font-weight: bold;
}
.CodeSnippet
{
    font-size: small;
}
.Logic
{
    font-style: italic;
    color: white !important;
}
