.Main
{
    border: 1px solid black;
    display: grid;
    grid-template-areas: 
    "head head head"
    "side" "content" "content"
    "foot" "foot" "foot";
    grid-template-rows: 30px auto 30px;
}
.Header{grid-area:head ;}
.Content{grid-area:content ;}
.Sidebar{grid-area:side ;}
.Footer{grid-area:foot ;}